
@import url("normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1{
  font-family: 'Poppins', sans-serif;
  line-height: 48px;
  font-size: 48px;
  font-weight: 600;
  word-spacing: 0;
  text-decoration: none;
}

p{
  color: rgb(133, 133, 133);
  font-family: 'Poppins', sans-serif;
}




.container{
  min-height: 100vh;
}

.section{

}

.pad-right-small{
  padding-right: 10px;
}

.margin-bottom{
  margin-bottom: 40px;
}

.margin-bottom-small{
  margin-bottom: 20px;
}

.margin-bottom-smaller{
  margin-bottom: 10px;
}

.main-logo-wrapper{
  padding: 50px 0;
}

.grid{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.grid-item-one{
  width: 60%;
  height: 100vh;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-dark{
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 13px;
  padding: 15px 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.grid-content-wrapper{
  max-width: 432px;
  margin: auto;
}

.grid-item-two{
  width: 40%;
  height: 100vh;
  background-image: url(./assets/Hero\ Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex{
  display: flex;
}

.partner-logo-wrapper{
  margin: 0 0 0 -14px;
}